/* Infos utiles : 
Couleur logo: #fa5e12;

*/

body {
	height: 100%;
  padding-top: 50px;
  z-index: 9999;
}

.logo {
  z-index: 999;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #fff;
  text-decoration: none;
}

form#modifThematique.loginForm button.btn-modif-thematiques {
    position: relative;
    top: -31px;
    right: -300px;
}
.container-infos-user {
  padding: 20px;
  position: relative;
  top: -50px;
}
.title-new-publication {
  text-align: center;
}
.container-infos-user {
  margin-top: 100px;
}

.container-connexion-inscription {
  z-index: 999;
}

article .content-publication-index {
  min-height: 10px;
  max-height: 70px;
}
.btn-submit-publication{
  text-align: center;
}
.garder-session {
	position: relative;
	left: 2%;
  color: #fff;
}

.authTitle {
  color: #fff;
}

h1 {
  font-weight: bold;  
  z-index: 00;
  position: relative;
  margin-left: 00px;
  margin-right: 00px;
  padding-bottom: 100px;
}
.back-black { 
  min-height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: #000; 
  z-index: 1;
  position: absolute;
  left: 00px;
  top: 00px;
}

h2.white-link {
  color: #fff;
}

.orange-link {
  color: #fa5e12;
}
.btn-supprUser {
      float: right;
    right: -50px;
    position: relative;
    top: -50px;
}
hr {
  z-index: 00;
}


.btn-return, .btn-return:hover, .btn-return:focus {
  background: none;
  border: none;
}

.btn-text-format { 
  margin-bottom: 10px;
}
.login .authTitle {
    text-align: center;
  line-height: 300%;
}
  
.login .socialButtons a {
  color: white;
  opacity:0.9;
}
.login .socialButtons a:hover {
    color: white;
  opacity:1;      
}
.login .socialButtons .btn-facebook {background: #3b5998;}
.login .socialButtons .btn-twitter {background: #00aced;}
.login .socialButtons .btn-google {background: #c32f10;}

.container-social {
  padding-bottom: 50px;
}

*[class*="zone"]{
   padding: 25px;
}

.btn-new-post {
  color: #fff;
}

.btn-new-post:hover,.btn-new-post:focus {
  color: #fff;
}

.container-publications {
  margin-top: 50px;
}
.add-publication-btn {
  position: relative;
  top: -7px;
  background-color: #fa5e12;
  border: none;
  right: 20px;
}
.add-publication-btn:hover {
  background-color: #cf4a09;
  border: none;
}
.navbar-header .logo,h1.logo {
  color: #fa5e12;
}

.dropdown-header {
  color: #f00;
}
.container-wiki-text-editor{
  padding: 30px 30px 30px 30px;
}

.login .loginOr {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.login .loginOr .hrOr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.login .loginOr .spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}     

.login .loginForm .input-group.i {
  width: 2em;
}
.login .loginForm  .help-block {
    color: red;
}

.forgotPwd a{
  color: #fff;
}

body>nav {
  z-index: 999;
  max-height: 10px;
  background-color: #000;
}


/*********** HEADER ********************/
.to-right {
  float: right;
}

.to-left {
  float: left;
}

.zone-search {
  display: block;
  position: relative;
  top: -18px;
  right: -50px;
}

.zone-search button {
  float: right;
  position: relative;
  text-align: right;
  top: -34px;
  right: -40px;
}
.zone-search input {
  float: left;
}

.zone-search-mobile {
  display: none;
  width: 100%;
}

.zone-search-mobile button {
  width: 20%;
  position: relative;
  top: -34px;
  right: -50px;
}

.zone-search-mobile input {
  width: 80%;
}


.userPseudo {
  color: #ccc;
}
/*********** HEADER ********************/


@media (min-width: 980px) {
    .row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
    
    .col-sm-6 {
      width: 50%;
      margin-left: 25%
    }

    .login .forgotPwd {
      text-align: right;
      margin-top:10px;
    }


}

@media (max-width: 1200px) {
  .add-publication-btn {
    position: relative;
    left: 25px;
    margin-bottom: 10px;
  }

  .zone-search {
    display: none;
  }
  .zone-search-mobile {
    display: inline;
    position: relative;
    left: -5px;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #000;
  }

}